*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: #6B59D3;
}

.main-container{
    width: 480px;
    background: white;
    padding: 2rem 2rem;
    border-radius: 2rem;
    margin: 0 1rem;
   
    
}
h2{
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}

.num-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2rem 2rem;
    z-index: 1;
}
.num-bar{
    position: absolute;
    width: 100%;
    z-index: -1  ;
    background: lightgray;
    height: 4px;
}
.num-bar-two{
    background: linear-gradient(to right, #6B59D3 50%, lightgray 50% );
}
.num-box{
    border-radius: 50%;
    background: lightgray;
    padding: 1.2rem;
    color: white;
}
.one{
    background: #6B59D3;
}
form{
    margin: 1rem;
    font-size: 1.2rem;
}

input{
    width: 100%;
    height: 40px;
    padding: 1rem;
    border: 4px solid lightgray;
    border-radius: 0.5rem;
}

form>*{
    margin-top: 2rem;
}
button{
    font-size: 1.2rem;
    /* margin-top: 1rem; */
    padding: 0.5rem 2rem;
    background: #6B59D3;
    color: white    ;
    border: none;
    text-decoration: none;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-btn{
    font-size: 1.2rem;
    
    padding: 0.5rem 2rem;
    
    color: white    ;
    border: none;
    text-decoration: none;
    background: lightgray;
}
.signup-btn{
    display: flex;
    justify-content: flex-end;
}
.success-container{
    background-color: white;
    padding: 5rem 3rem;
    border-radius: 2rem;
}

.success-container p{
color: gray;
font-size: 2rem;
}

.success-container span{
    background: #6B59D3;
    border-radius: 50%;
    padding: 1rem;
    color: white;
    font-weight: 700;
    margin-right: 1rem;
    font-size: 3rem;
}